<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload = "true"
	  internalLogLevel="Info">


	<extensions>
		<add assembly="MyAssembly"/>
	</extensions>
	<targets>
		<target name="allfile" xsi:type="File" fileName="c:\Users\kacpe\source\repos\restaurantAPI2\nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}${logger}|${message} ${exception:format=tostring}}"/>
		<target name="logconsole" xsi:type="Console" />

		<target name="exceptions" xsi:type="File" fileName="c:\Users\kacpe\source\repos\restaurantAPI2\nlog-allexceptions-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}}"/>
		<target name="request-time" xsi:type="File" fileName="c:\Users\kacpe\source\repos\restaurantAPI2\request-time-${shortdate}.log"
		layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="restaurantAPI.*" minlevel="Trace" writeTo="exceptions" />
		<logger name="restaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />


	</rules>
</nlog>

